#myHeader {
  position: relative;
  top : 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 83px;
  background-color: #F1F7FD;
  overflow: hidden;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.myUL{
  list-style-type: none;
  padding: 0;
}

.myIl{
  float: right;
  display: block;
  padding: 8px;
}
.jobTitle_div{
  position: relative;
  padding: 15px 20px 15px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 7px;
  width: 80%;
}

.jobTitle_field{
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: none;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

/* Toute cette partie est à revoir 
.jobTitle_field : active, .jobTitle_field :focus {
  ~  .jobTitle_label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: red;
      font-weight:700;
    }
  padding-bottom:6px;
  font-weight:700;
  border-width:3px;
  border-image:linear-gradient(to right, blue,red);
  border-slice: 1;
}
*/
::placeholder{
  color: transparent;
}

:placeholder-shown ~ .jobTitle_label{
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.jobTitle_label{
  position: absolute;
  top:0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
  padding: 0 15px 0;
}

.jobTitle_field
  :required,:invalid { box-shadow:none; }

.myBtn {
  margin :6px;
  border-radius: 2px;
  border:0;
  transition: .2s;
  transition-timing-function:ease-out;
  white-space: normal !important;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
              0 2px 10px 0 rgb(0 0 0 / 12%);

}

.myBtn-mtd-color{
  background-color: #59698D;
}

.myBtn, .white-text{
  color: #fff!important;
}

.wrapper{
display: grid;
grid-template-columns: 1fr 1fr;
/*grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
grid-auto-rows: minmax(100px,auto);*/
}

form#form1{
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 10px;
}


.form-upload  {
  display:  inline-block ; 
}

fieldset{
  display: inline-block;
}
.legend1{
  margin-bottom: 0;
  margin-left: 16px;
  color: orange;
}
.fieldset1{
  /*box-shadow:8px 5px 5px grey ; 
  border: 0.5px solid #59698D;*/
  -moz-border-radius:8px;
  -webkit-border-radius:8px;	
  border-radius:8px;
  /*background-color: #F1F7FD;*/
  padding: 0;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.fieldset2{
  /*box-shadow:8px 5px 5px grey ; 
  border: 0.5px solid #59698D;*/
  -moz-border-radius:8px;
  -webkit-border-radius:8px;	
  border-radius:8px;
  /*background-color: #F1F7FD;*/
  background-color: #C8CDD2;
  padding: 0;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.fieldset3{
  border: 0.5px solid #59698D;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;	
  border-radius:8px;
  background-color: #F1F7FD;
  padding: 20px;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}
div#button_terminal{
  position: relative;
}
.div_terminal{
  display: block;
}
textarea.terminal{
  position: fixed;
  width: 48%;
  height: 500px;
  border: 1px solid black;
  border-radius: 3px;
  color: whitesmoke;
  font-size: 20px;
  font-family: VT323, Consolas, Lucida Console, monospace;
  transition:box-shadow 0.5s ease;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	background:linear-gradient(#000000, #000000);
	background:-o-linear-gradient(#000000, #000000);
	background:-ms-linear-gradient(#000000, #000000);
	background:-moz-linear-gradient(#000000, #000000);
	background:-webkit-linear-gradient(#000000, #000000);
  padding-bottom: 100px;
}

  .default-blur-content {
      filter: blur(5px);
  -webkit-filter: blur(5px);
  -webkit-transition: 1s -webkit-filter linear;
  -o-transition: 1s -o-filter linear;
      }

