<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>mTDT</title>
    <link rel="icon" href="/images/Logo_mtdt_transparency.png">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="styles/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323:regular" media="screen" />
    <link rel="stylesheet" href="styles/semantic/semantic.min.css"/>
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"/>

    <link rel="stylesheet" href="styles/fa/css/all.min.css">
  </head>
  <body>
    <!-- ******************* Header ******************* -->
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-xs-7">
              <p style="font-size: 58px; border-right: 2px solid #c2c8ce; color: #59698D ; margin-top: 8px;"><b>m-TDT</b></p>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-5" style="margin-left: -15px; margin-top: 8px;">
              <span style="font-size: 14px;">
                <pre>
Multi-locus 
Transmission 
Disequilibrium 
Test
                </pre>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-xs-7" style="float: right; padding: 20px; margin-top: 12px;">
          <div class="ui secondary pointing menu" style="font-size: 20px;">
            <a href="" class="active item">Tool</a>
            <a href="" class="item">Tutorial</a>
            <a href="/download/sample.ped" id="download"class="item">Download</a>
            <a href="" class="item">FAQ</a>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1">
          <div class="ui secondary animated button" id="disconnect" tabindex="0" style="margin-top: 40px;">
            <div class="visible content">Exit</div>
            <div class="hidden content">
              <i class="sign-out icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ******************* END Header ******************* -->
    <!-- ******************* Site content ******************* -->
    <div class="wrapper">
      <!-- ******************* Job title block ******************* -->
      <form action="" class="jobTitle_div" id="form1" >
        <input type="text" class="jobTitle_field" placeholder="Specify Your Job Title" name="job_title" id="job_title" required/>
        <label for="job_title" class="jobTitle_label">Job Title</label>
        <input type="submit"  id="start_job" class="myBtn myBtn-mtd-color" value="Start">
      </form>
      <!-- ******************* END Job title block ******************* -->
      
      <!-- what is next is for managing grid position -->
      <div>&nbsp;</div>
      
      <!-- ******************* Begin of the first fieldset ******************* --> 
      <fieldset class="fieldset1">
        <div class="ui raised segment">
          <!--i class="big icon question circle outline"></i-->
          <legend>
            <a class="ui big right ribbon label" style="background-color:#F1F7FD; color:#59698D;">  
              Summary Statistics 
              <i id="unlocked_default" class="fas fa-unlock"></i> 
            </a>
          </legend>
          <% if  ( socket )  {%> 
            <form method="post" action="" enctype="multipart/form-data" name="file_uploader" id="form_upload" class="ui form" style="padding:20px; padding-bottom: 0;">
              <div class="ui fluid action input">
                <input name="fupload" type="file" accept=".ped,.map,.phen" multiple style="padding: 20px;"> 
                <div class="ui button">
                  <button class="ui vertical animated button" type="submit" id ="files_uploader">
                    <div class="hidden content">Upload</div>
                    <div class="visible content">
                      <i class="upload icon"></i>
                    </div>
                  </button>
                </div>
              </div>
            </form>
          <%}%>         
          <form name="form" style="padding:20px;" class="ui form"> 
            <div class="ui toggle checkbox">
                <input type="checkbox" id="sync" name="sync">
                <label for="sync">Sync</label>
            </div>
            <div class="field">
              <label for="ped">Pedigree File</label>
              <select required id="ped" name="ped" class="ui fluid dropdown">
                  <option   value = ""  disabled selected>Select a ped file</option>
              </select>
            </div>
            <div class="field">
              <label for="map">Map file</label>
              <select required id="map" name="map" class="ui fluid dropdown">
                  <option value="" disabled selected>Select a map file</option>
              </select>
            </div>
            <div class="field">
              <label for="phen">Phenotype file</label>
              <select required id="phen" name="phen" class ="ui search dropdown">
                <option value = "" disabled selected > Select a phen file</option>
              </select>
            </div>
            <button type="submit" id ="run_summary" class="ui button">Launch Summary Statistics &nbsp;<i class="fas fa-chart-bar"></i></button>
          </form> 
        </div>  
      </fieldset> 
      <!-- ******************* END of the first fieldset ******************* --> 
      <!-- ******************* Terminal block ******************* -->
      <div>  
        <div class="div_terminal" style="position: fixed; margin: 8px; margin-top: 0;" >
          <div class="ui menu"> 
            <div class="item">
              <div class= "ui button" id="clear">
                <i class="fas fa-broom" id="clear" title ="clear console"></i>
              </div>
            </div>
            <div class="item">
              <div class="ui button" id ="infosys">  
                <i class="fas fa-info" id="infosys" title="show system info"></i>
              </div> 
            </div>
            <div class="item">
                <div class="ui icon button" style="background-color:#F1F7FD; color:#59698D;" id="detach_term"> 
              <i class="fas fa-terminal" title="detach terminal"></i>
                use terminal 
                </div> 
            </div>
            <div class="right menu">
              <div class="item">
                <i id="network" class="fas fa-satellite-dish" title="network connectivity"></i><br>
              </div>
            </div>
          </div>
          <div>
            <!--readonly autocomplete ="off" speelcheck="false" autocapitalize="off"-->
            <textarea name="" id="term" class="terminal"></textarea>
          </div>
        </div>
      </div>
      <!-- ******************* END Terminal block ******************* -->
      <!-- ******************* Begin of the second fieldset ******************* --> 
      <fieldset class="fieldset2">
        <div class="ui raised segment">
          <legend>
            <a class ="ui big ribbon label" style="background-color: #59698D; color: white;"> 
              Genotype Inference &nbsp; 
              <i id="lock_default" class="fas fa-lock"></i>
            </a>
          </legend>
          <span></span>
          <br>
          <form action="" class="ui form">
            <div class="inline fields">
              <div class="field" style="align-content:center;">
                <h4>Retrieve missing genotypes : &nbsp;
                </h4>
              </div>
              <div class="ui large buttons">
                <button class="ui button positive"  id="gi-yes">Yes</button>
                <div class="or"></div>
                <button class="ui button negative" id ="gi-no">No</button>
              </div>
            </div>
          </form>
        </div>
      </fieldset>
      <!-- ******************* END of the second fieldset ******************* -->
      
      <!-- What is next is for managing grid position -->
      <div></div>
      
      <!-- ******************* Begin of the third fieldset ******************* -->
      <fieldset class="fieldset3">  
        <!--legend>
          <a class ="ui ribbonlabel">
            Analysis
            <i id="lock_default" class="fas fa-lock"></i>
          </a>
        </legend--> 
        <!--form name="form" class="ui form  default-blur-content"-->
        <form name="form" class="ui form default-blur-content">
          <!-- Choosing an Empirical run or a Theorical run-->
          <h3 class="ui horizontal divider header">ANALYSIS</h3>
          <div class="ui placeholder segment" style="background-color: whitesmoke; border:none !important;">
            <div class="ui two column stackable center  aligned  grid" >
              <div class="column">
                <h4 style="margin-top:-11px; margin-left: 67px;color: orange;">EMPIRICAL RUN</h4>
                <div class="ui form">
                  <div class="field">
                    <label for="nbsim"><span>Number of simulations</span></label>
                    <div class="ui left icon input">
                      <input id="nbsim" placeholder="10">
                      <i class="redo icon"></i>
                    </div>
                  </div>
                  <div class="field">
                    <label for="nbcores">Number of Cores</label>
                    <select id="nbcores" name="nbcores" class="ui search dropdown">
                      <option value = "" disabled selected > Cpus core available</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="ui icon header">   
                  <h4 style="color: #59698D;">THEORICAL RUN</h4>
                  <i class="leaf icon"></i>
                  <div class="ui medium  button active  t-run"  style="background-color: #59698D;color: white;">GO !</div> 
                </div>
              </div>
            </div>
            <div class="ui vertical divider">
              Or
            </div>
          </div>
          <div class="field">
            <select id="phenotype" name="phenotype" class="ui search dropdown">
              <option value="" disabled selected>Number of phenotype</option>
            </select>
          </div>
          <div class="ui form">
            <div class="inline fields">
              <label>Choose markers  :</label>
              <div class="field">
                <div class="ui radio checkbox">
                  <input id="single_marker" type="radio" name="mradiobutton" value="single_marker" checked="checked">
                  <label for="single_marker">Single-Marker</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input id="multi_marker" type="radio" name="mradiobutton" value="multi_marker">
                  <label for="multi_marker">Multi-Marker</label>
                </div>
              </div>
            </div>
          </div>
          <!--markerset -->
          <!-- Hidden if single marker is chosen -->
          <div class="field">
            <label for="marker_set">Select markerset</label>
            <textarea placeholder="Choose your markers. eg: 1, 3, 24" rows="1" cols="30" id="marker_set" name="marker_set" required></textarea>
          </div>
          <div class="field"> 
            <button id="run_analysis" class="ui right floated button">Run Analysis &nbsp;<i class="fas fa-dna"></i></button>
          </div>
        </form>
      </fieldset>
      <!-- ******************* END of the third fieldset ******************* -->
    </div>
    <footer class="ui inverted vertical footer segment">
      <div>
        <div >
          <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
              <div class="three wide column">
                <h4 class="ui inverted header">Gen_Assoc Project</h4>
                <div class="ui inverted link list">
                  <div class="ui fluid image">
                    <img src="/images/H3ABioNet_high_res.png">
                  </div>
                </div>
              </div>
              <div class="seven wide column">
                <h4 class="ui inverted header"> © 2021 | Epidemiogy, Clinical Research, Data Science Department</h4>
                <div class="ui inverted link list">
                  <a href="#" class="item" style="color: #1F2F91;"><i class="sn flag"></i>Foundation Institut Pasteur de Dakar</a>
                </div>
                <div class="ui inverted link list"></div>
                <a href="#" class="item"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <% if (socket) {%>  <script src="/socket.io/socket.io.js"></script> <%}%>
  <script src="js/build_bridge.js"> </script>
</html>
