 <footer class="ui inverted vertical footer segment" style="padding-botom:0px;position:fixed ; bottom:0px ;width:100%">
      <div>
        <div >
          <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
              <div class="three wide column">
                <h4 class="ui inverted header">Gen_Assoc Project</h4>
                <div class="ui inverted link list">
                  <div class="ui fluid image">
                    <img src="/images/H3ABioNet_high_res.png">
                  </div>
                </div>
              </div>
              <div class="seven wide column">
                <h4 class="ui inverted header"> © 2022 | Epidemiogy, Clinical Research, Data Science Department</h4>
                <div class="ui inverted link list">
                  <a href="#" class="item" style="color: #1F2F91;"><i class="sn flag"></i>Foundation Institut Pasteur de Dakar</a>
                </div>
                <div class="ui inverted link list"></div>
                <a href="#" class="item"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <% if (socket) {%>  <script src="/socket.io/socket.io.js"></script> <%}%>
