<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>mTDT</title>
    <link rel="icon" href="/images/Logo_mtdt_transparency.png">
		<!-- Bootstrap CSS --> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/style.css"/>
    <link rel="stylesheet" href="styles/semantic/semantic.min.css"/>
    <link rel="stylesheet" href="styles/fa/css/all.min.css">
  </head> 
<style>  

.carousel-item {  
    transition: all 0.5s ease-in-out; 
    } 

body { 
background-image: linear-gradient(rgba(245,255,255, 0.88),rgba(245,255,255, 0.9),rgba(255, 255, 255,1)), 
                  url("https://us.123rf.com/450wm/1000pixels/1000pixels1803/1000pixels180300238/98203904-blackboard-inscribed-with-scientific-formulas-and-calculations-in-physics-and-mathematics-can-illust.jpg?ver=6"),
                  url("https://jeminformetv.files.wordpress.com/2021/06/52498664-collection-des-elements-des-symboles-et-des-systemes-de-la-physique-la-chimie-et-la-geometrie-sacree-le-theme-de.jpg"),
                  url("https://i.pinimg.com/originals/4a/31/1c/4a311c15b976aed1813e6e0066708542.jpg"); 
              background-blend-mode: luminosity;

} 

</style> 
  <body>

    <!-- ******************* Header ******************* -->
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-xs-7"> 
                <a href = "/" > 
              <p style="font-size: 58px; border-right: 2px solid #c2c8ce; color: #59698D ; margin-top: 8px;"><b>m-TDT</b></p>
                </a>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-5" style="margin-left: -15px; margin-top: 8px;">
              <span style="font-size: 14px;">
                <pre>
Multi-locus 
Transmission 
Disequilibrium 
Test
                </pre>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-xs-7" style="float: right; padding: 20px; margin-top: 12px;">
          <div class="ui secondary pointing menu" style="font-size: 20px;">
            <a href="/main" class="active item">m-TDT</a>
            <a href="/tuto" class="item">Tutorial</a>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1">
          <div class="ui secondary animated button" id="disconnect" tabindex="0" style="margin-top: 40px;">
            <div class="visible content">Exit</div>
            <div class="hidden content">
              <i class="sign-out icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

