<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>mTDT</title>
    <link rel="icon" href="/images/Logo_mtdt_transparency.png">
		<!-- Bootstrap CSS --> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/style.css"/>
    <link rel="stylesheet" href="styles/semantic/semantic.min.css"/>
    <link rel="stylesheet" href="styles/fa/css/all.min.css">
  </head> 
<style>  

.carousel-item {  
    transition: all 1s ease-in-out; 
    } 

body { 
background-image: linear-gradient(rgba(245,255,255, 0.88),rgba(245,255,255, 0.9),rgba(255, 255, 255,1)), 
                  url("https://us.123rf.com/450wm/1000pixels/1000pixels1803/1000pixels180300238/98203904-blackboard-inscribed-with-scientific-formulas-and-calculations-in-physics-and-mathematics-can-illust.jpg?ver=6"),
                  url("https://jeminformetv.files.wordpress.com/2021/06/52498664-collection-des-elements-des-symboles-et-des-systemes-de-la-physique-la-chimie-et-la-geometrie-sacree-le-theme-de.jpg"),
                  url("https://i.pinimg.com/originals/4a/31/1c/4a311c15b976aed1813e6e0066708542.jpg"); 
              background-blend-mode: luminosity; 
              background-repeat:no-repeat center center  fixed ;

font-family:Maven Pro ; 

}

.modal { 
    top :30%; 
    right : 0px ; 
    left : 500px !important ;
    padding-left  : 10px ;
    display: inline-block;
    vertical-align: middle; 
    width:10px;
    height:100px; 

     justify-content: center;
      align-items: center;
}
.modal{
    padding: 20px 20px 20px 20px;
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 2s;
    animation-name: modal-animation;
    animation-duration: 1.6s;
    transition: "ease-in-out" ;
}
@-webkit-keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
@keyframes modal-animation {
    from {
        left: -100px;
        opacity: 0;

    }
    to {
        right: 0px;
        opacity: 1;
    }  


.run_analysis { 
    top :30%; 
    right : 0px ; 
    left : 500px !important ;
    padding-left  : 10px ;
    display: inline-block;
    vertical-align: middle; 
    width:1000px;
    height:100px; 

     justify-content: center;
      align-items: center;
}
.run_analysis {
    padding: 20px 20px 20px 20px;
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 2s;
    animation-name: modal-animation;
    animation-duration: 1.6s;
    transition: "ease-in-out" ;
}
@-webkit-keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
@keyframes modal-animation {
    from {
        left: -100px;
        opacity: 0;

    }
    to {
        right: 0px;
        opacity: 1;
    }  




} 

</style> 
  <body>
    <!-- ******************* Header ******************* -->
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-xs-7"> 
                <a href = "/" class ="ui teal image label" style ="padding-top:5px;padding-left:5px;"> 

                    <p style="font-size: 43px; padding-top:20px ; padding-bottom:20px ; margin-left:5px;border-right: 2px solid whitesmoke; color: #ffffff ; margin-top:10px;" class="detail"><b style="font-family:Maven Pro">m-TDT</b></p> <!--color =#c2c8ce #59698D--> 
                  <small class="ui orange ribbon label">v2.0 Beta</small>
                </a>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-5" style="margin-left:-90px; margin-top: 8px;"> 

              <span style="font-size: 14px;">
                <pre>
 <b class="ui teal mini label">M</b></small><small>ulti-locus</small> 
 <b class="ui orange mini label">T</b><small>ransmission</small>  
 <b class="ui blue mini label">D</b><small>isequilibrium </small> 
 <b class="ui yellow mini label">T</b><small>est</small>
                </pre>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-xs-7" style="float: right; padding: 20px; margin-top: 12px;">
          <div class="ui secondary pointing menu " style="font-size: 20px;"> 
              <a href ="/main" class="item active ui  teal segment  "> m-TDT
              </a>

            <!--a href="/tuto" class="item">Tutorial</a-->
          </div>
        </div>
        
