<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<link rel="stylesheet" href="styles/indexStyle.css"/>
		<link rel="stylesheet" href="styles/semantic/semantic.min.css"/>
		<title>m-TDT tool</title>
		<link rel="icon" href="images/mtdt-logo-removebg-preview.png">
<link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap" rel="stylesheet">
	</head> 
	<body>
		<!-- NAV -->
		<nav class="nav">
			<div class="nav-menu nleft ">
			</div>
			<div></div>
			<div></div>
			<div class="bar"></div>
			<div class="nav-menu nright">
				<a href="/main" class="nav-item toolButton">m-TDTool</a>
				<a href="/tuto" class="nav-item">Tutorial</a>
			</div>
		</nav>
		<!-- MAIN CONTENT -->
		<div class="content">
			<!-- LEFT SIDE BAR  -->
			<div class="left-side">
				<h2>Latest</h2>
				<div class="left-bar"></div>
			</div>
			<div class="words">

  <a href = "/" class ="ui teal image label title " style ="padding-top:5px;padding-left:5px;"> 

                    <p style="font-size: 43px; padding-top:20px ; padding-bottom:20px ; margin-left:5px;border-right: 2px solid whitesmoke; color: #ffffff ; margin-top:10px;" class="detail"><b style="font-family:Maven Pro">m-TDT</b></p> <!--color =#c2c8ce #59698D--> 
                  <small class="ui orange ribbon label">v2.0 Beta</small>
                </a>
                <div class="article">
					<h2 class="subtitle  ui black ribbon label large "  style="font-size:18px">What is it?</h2>
                    <div  class="ui item list  tall stacked segment  " >  
                    <p style="font-size:18px"> 
M-TDT (Multi-locus Transmission Disequilibrium Test) is an open source program computing a family-based statistic testing for association between a phenotype and a set of multi-allelic markers.
The program is for family-based genome-wide screening of single and joint effects of genetic mutations on infectious disease traits, either qualitative or quantitative traits, regardless of phenotype distribution.

					</p>
                    </div> 
				</div>
				<div class="article">
					<h2 class="subtitle  ui  orange ribbon label " style="font-size:18px">Strengths</h2>
                    <div class ="ui piled segment "> 
					<p style="font-size:18px">



<ul class="ui list" style="font-size:18px" >
  <li>Ability to find joint effects of several markers impacting phenotypes in a context of small sample size</li>
  <li>Retrieve markers that would be missed by classical approaches</li>
  <li> Handles of main statistical issues like: </li>  
   <ul class="ui list" style="font-size:14px">  
        <li><u>non-specified distribution of traits</u></li> 
        <li><u>related individuals</u></li> 
        <li><u>population admixture</u></li> 
        <li><u>linkage disequilibrium among markers</u></li> 
    </ul> 

  </li>
</ul>
 
                    </p>
                    </div> 
				</div>
				
               
			</div>
			<!-- begin div shapes -->
			<div class="dna" style="--total:30; height:80%">
				<div class="strand_one" style="--i:1">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_one" style="--i:2">
					<div class="left">
						<div class="dot">

 <b class="ui teal mini label">M</b></small><small>ulti-locus</small> 
                        </div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_one" style="--i:3">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_one" style="--i:4">
					<div class="left">
						<div class="dot">

                        </div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_one" style="--i:5">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_one" style="--i:6">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_one" style="--i:7">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_one" style="--i:8">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_one" style="--i:9">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_one" style="--i:10">
					<div class="left">
						<div class="dot">
 <b class="ui orange mini label placeholder fluild ">T</b><small>ransmission</small>  
                        </div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_two" style="--i:11">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_two" style="--i:12">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_two" style="--i:13">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_two" style="--i:14">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_two" style="--i:15">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_two" style="--i:16">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_two" style="--i:17">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_two" style="--i:18">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_two" style="--i:19">
					<div class="left">
						<div class="dot">


 <b class="ui blue mini label">D</b><small>isequilibrium </small> 
                        </div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_two" style="--i:20">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_three" style="--i:21">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_three" style="--i:22">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_three" style="--i:23">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_three" style="--i:24">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_three" style="--i:25">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_three" style="--i:26">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_three" style="--i:27">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_three" style="--i:28">
					<div class="left">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot"></div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_three " style="--i:29">
					<div class="left">
						<div class="dot">

 <b class="ui yellow mini label">T</b><small>test</small>
                        </div>
						<div class="line"></div>
					</div>
					<div class="right">
						<div class="dot">

                        </div>
						<div class="line"></div>
					</div>
				</div>
				<div class="strand_three" style="--i:30">
					<div class="left">
						<div class="line"></div>
					</div>
					<button class="startOne" id="startOne" onclick="window.location.href='/main'"> Get started </button> 
					<div class="right">
						<div class="line"></div>
					</div>

				</div>

			</div>
			<!-- end div dna -->

		</div>

		<section class="mtdt_article_ref ">
			<div class="row">
			<div class="bar"></div>
				<div class="column">
					<a target="_blank" href="https://academic.oup.com/bib/article/18/3/394/2453295?login=false">
						<img  class="centered ui tall piled blue  segment" src="images/article.png" width="39%" alt="">
					</a>
				</div>
				<div class="column  ui tall piled orange  segment" style="padding-top: 20px;">
					<h2 style="color: black;">Read the paper about the approaches to characterize the complexity arising from multi-locus effects in the family-based study design </h2>
					<br>
					<p style="font-size:15px">
						See how scientists, research engineers, biostatisticians, bioinformaticians and physicians from the Infectious Disease Epidemiology Unit at 
					the Institut Pasteur in Dakar worked to identify an epistatic effect between three variants of malaria resistance.
					</p>
					<br><br>
					<a class="ref_article" target="_blank" href="https://academic.oup.com/bib/article/18/3/394/2453295?login=false">Read the Paper</a>
				</div>
			</div>
		</section>
				<footer style="position:relative ; clear:both; bottom:0" >
			<div class="row">
				<div class="column" style="margin: 10px auto; ">
					<a target="_blank" href="https://www.pasteur.sn/fr">
						<img src="images/institupasteurdk.png" width="40%" alt="">
					</a>
				</div>
				<div class="column" style="margin: auto auto; flex: 60% !important;">
					© 2022 | Epidemiogy, Clinical Research, Data Science Department
				</div>
				<div class="column" align="right" style="margin: auto auto;">
					<!--span style="color: black;"> Gen_Assoc Project |</span--> 
					<img  src="images/h3abionetafrica.png" width="50%" alt="">
				</div>
			</div>
		</footer>
	</body>

