<%- include("./header.ejs")%> 


<div class="ui  container">  


<div class="ui two column grid">
  <div class="column">
    <div class="ui raised segment green">
    <h3 class="ui horizontal divider  top attached   inverted header">Get Ready </h3> 
<br> 
      <a class="ui red tag label"  href="/index">1 :Landing Page </a>
      <div class="ui segment red ">
<a href="/images/appscreenshot/Selection_015.png">
  <img  src="/images/appscreenshot/Selection_015.png"  class="ui  small rouded image">  
</a>
  <p> <b>B</b>asic  Landing  Page that show some information  about m-TDT ... </p> 
</div> 
      <a class="ui blue tag label" href="/main"  alt="0" >2 Job Space Creation </a>
 <div class="ui segment blue"> 
<a href="/images/appscreenshot/Selection_016.png">
  <img  src="/images/appscreenshot/Selection_016.png"  class="ui  small rouded image">  
</a> 
  <small> <i class="rocket icon"> </i> 
 <strong>T</strong>his section allows you to create a virtual workspace in which the analysis will take place. 
    The uploaded files as well as the output files will be located in this virtual directory on the server. 
You can choose the name of this space in Job Title and submit to validate the creation of your space.



    </small>
</div> 
<a class="ui olive tag label"  href="/main" alt="1" >3  Send your files</a>  

 <div class="ui segment olive">   
<a href="/images/appscreenshot/Selection_017.png">
  <img  src="/images/appscreenshot/Selection_017.png"  class="ui  small rouded image"> 
</a> 

 <small> <i class="upload icon"></i> <strong>I</strong>t is in this section that the user loads the files to be analyzed.

The button opens a window with a view of your local files. You can select the files whose formats must meet the following specifications:
INPUT FILE FORMAT

    * No headers in any of the 3 input files.
    * The columns of all input files are separated by tabs.

    (i) PED file: starts with 6 columns followed by genotype columns, in the following order
        - Family ID
        - Individual ID
        - Father ID
        - mother's ID
        - sex
        - condition (this column will not be taken into account, but its presence is required)

        - genotype columns (...)

    ! !! TIP: The 'ped' file can contain multiple markers, but we advise at the runtime stage to include a limited number of markers, e.g. 3 to 5, 

        </small>

</div> 


    </div>
  </div>
  <div class="column">

    <div class="ui segment yellow">
          <h3 class="ui horizontal  top  attached inverted  divider header">Run Settings </h3> 
<br> 
      <a class="ui orange right ribbon label"  href="/main" , alt="2">4 Summary Statistics </a>
 <div class="ui segment orange">
<a href="/images/appscreenshot/Selection_018.png">
  <img  src="/images/appscreenshot/Selection_018.png"  class="ui  small rouded image"> 
</a>
     <small> 
<strong> T</strong>hen you select from the files you have just uploaded the one you need, respectively, for the Pedigree File, Map file and Phenotype File fields. These three files must have the same file name with the same difference in format. 
   <div class="ui toggle checkbox">
                <input type="checkbox">
                <label for="sync">Sync</label>
            </div> 
This is the only way to make sure that when you select an A file for a dedicated field, the other fields are pre-filled with the files corresponding to the same base name 

        </small>
</div> 

      <a class="ui black right ribbon label" href="/main" alt="3">5 Genotype Inference </a>
 <div class="ui segment black ">
<a href="images/appscreenshot/Selection_019.png"> 
  <img  src="/images/appscreenshot/Selection_019.png"  class="ui  small rouded image">  
</a>  

        <small> 
Depending on your number of missing data, you can choose to use the genotype inference option or not. 

This is where the options to run the mtdt script are selected.


        </small>
</div> 
<a class="ui  gray  right ribbon label" href="/main"  alt="4" >6 Run Type</a>  
 <div class="ui segment gray">
<a href="/images/appscreenshot/Selection_020.png"> 
  <img  src="/images/appscreenshot/Selection_020.png"  class="ui  small rouded image">  
</a> 
  
     <small> 
<b>Markers Setting </b> list indicating positions of the set of markers to analyze jointly (separated by "," without SPACE); position from the 'ped' file without counting the 6 first columns. 
If <b> MULTI MARKER </b> option is not selected, the software will run like <b>SINGLE MARKER</b> GWAS, screen all markers in the 'ped' file one-by-one in family-based association. A limited number of top SNPs from a GWAS screening can be subsequently used for multilocus analysis.


        </small>
</div> 

  </div>  
</div> 



  
</div> <!--end Grid --> 

 

<%- include("./footer.ejs")%>  

<%-  include("./scripts/tuto_jscript.ejs")%>  
</html>  
