<%- include("./header.ejs")%> 

<div class="container-fluid">
  <div class="row">
    <div class="ui  mini modal segment">
          <h5 class="ui teal ribbon floated   label">Genotype Inference</h5>  

 <small style="font-family:Maven Pro; font-size:11px;">Do you want to use the new pedfile ? </small> 
<br> 
<br> 
 <button id="gi-modal-no" class="mini red  inverted ui right floated button">
  No
</button>
<button id="gi-modal-yes" class="mini  teal inverted ui right floated  button">
  Yes 
</button>

    </div>

    <div class="col-md-6">

<div id="carouselExampleIndicators" style="top:60px" class="carousel-dark  carousel slide carousel-fade" data-bs-ride="carousel" data-bs-keyboard="true"> 
  <div class="carousel-indicators">
    <br> 
  </div>
  <div class="carousel-inner">
    <div class="carousel-item  active" >
  
          <h3 class="ui horizontal divider header">Job Title</h3> 
       <div class="container col-8" >   
        <div class="d-block w-100" >  
              <form action="" class="jobTitle_div" id="form1" data-tooltip="Set up new virtual job space" data-inverted=""  data-position="bottom right"> 
            <input type="text" class="jobTitle_field" placeholder="Specify Your Job Title" name="job_title" id="job_title" required />
            <label for="job_title" class="jobTitle_label">Job Title</label> 
            <input type="submit"  id="start_job" class="myBtn myBtn-mtd-color ui small  teal fluid button " value="GO">
        </form>  
<br>
<br>
<br>
    <div  class="container  col-10"> 
<div class="inline field">   
 <h3>Job Space Setting </h3> </div> 
    <hr>  
        <small> <i class="rocket icon"> </i> 
 <strong>C</strong>reate new virtual job space that handle all manipulation  you'll do 
                it act like a sanbox  that save your run  and all output that came from the run  
                is stored into you virtual job space 
    </small>
</div> 

        </div>
 
       </div>
 
    </div>
    
    <div  class="container col-8">  
    <div class="carousel-item" data-bs-interval="1000"> 

          <h3 class="ui horizontal divider header">Upload Sheets</h3> 

 <% if  ( socket )  {%> 
            <form method="post" action="" enctype="multipart/form-data" name="file_uploader" id="form_upload" class="ui form" style="padding:20px; padding-bottom: 0;">
              <div class="ui fluid action input">
                <input name="fupload" type="file" accept=".ped,.map,.phen" multiple style="padding: 20px;"> 
                  <button class="ui button" type="submit" id ="files_uploader">
                    <div class="hidden content">Upload</div>
                    <div class="visible content">
                      <i class="upload icon"></i>
                    </div>
                  </button>
              </div>
            </form>
          <%}%>     
<br> 
<br> 
<br> 
    <div  class="container  col-10"> 
 <h3>Upload Sheets </h3>
    <hr>  
        <small> <i class="upload icon"></i> <strong>C</strong>reate new virtual job space that handle all manipulation  you'll do 
                it act like a sanbox  that save your run  and all output that came from the run  
                is stored into you virtual job space 
        </small>
</div> 
    </div>
    </div>


    <div class="container col-8">  
    <div class="carousel-item ">
    

          <h3 class="ui horizontal divider header">Summary  Statistics </h3>
<form name="form" style="padding:20px;" class="ui form"> 
            <div class="ui toggle checkbox">
                <input type="checkbox" id="sync" name="sync">
                <label for="sync">Sync</label>
            </div>
            <div class="field">
              <label for="ped">Pedigree File</label>
              <select required id="ped" name="ped" class="ui fluid dropdown">
                  <option   value = ""  disabled selected>Select a ped file</option>
              </select>
            </div>
            <div class="field">
              <label for="map">Map file</label>
              <select required id="map" name="map" class="ui fluid dropdown">
                  <option value="" disabled selected>Select a map file</option>
              </select>
            </div>
            <div class="field">
              <label for="phen">Phenotype file</label>
              <select required id="phen" name="phen" class ="ui search dropdown">
                <option value = "" disabled selected > Select a phen file</option>
              </select>
            </div>
            <button type="submit" id ="run_summary" class="ui button">Launch Summary Statistics &nbsp;<i class="fas fa-chart-bar"></i></button>
          </form> 
<br> 
    <div  class="container  col-10"> 
 <h3>Summary Stats</h3>
    <hr>  
        <small> Create new virtual job space that handle all manipulation  you'll do 
                it act like a sanbox  that save your run  and all output that came from the run  
                is stored into you virtual job space 
        </small>
</div> 
    </div>

</div>

        
     
    <div  class = "container col-8"> 
    <div class="carousel-item">  

          <h3 class="ui horizontal divider header">Genotype Inference</h3>
<form  class="ui form">
            <div class="inline fields">
              <div class="field" style="align-content:center;">
                <!--h4>Retrieve missing genotypes : &nbsp;
                </h4-->
              </div>
              <div class="ui large buttons">
                <button class="ui blue button"  id="gi-yes">Genotype Inference</button>
                <div class="or"></div>
                <button class="ui button negative" id ="gi-no">Pass</button>
              </div>
            </div>
          </form> 


<br> 
<br> 
<br> 
    <div  class="container  col-10"> 
 <h3>Genotype Inference aka G.I </h3>
    <hr>  
        <small> Create new virtual job space that handle all manipulation  you'll do 
                it act like a sanbox  that save your run  and all output that came from the run  
                is stored into you virtual job space 
        </small>
</div> 
    </div> 
  </div> 




<!---  SINGLE MARKER AND MULTIMAKER  SETTINGS --->  
<div  class = "container col-8"> 
    <div class="carousel-item">  
 
      <h3 class="ui horizontal divider header">Run Type</h3>
      <form class="ui form"> 
            <div class="inline fields">
              <div class="field" style="align-content:center;">
              </div>
              <div class="ui large buttons">
                <button class="ui blue button"  id="single_marker">Single Marker</button>
                <div class="or"></div>
                <button  class="ui button negative" id ="multi_marker">Multi Marker</button>
              </div> 
            </div>

            <div class="field">
                <label for="marker_set">Select markerset</label>
                <input  placeholder="Choose your markers. eg: 1, 3, 24" rows="1" cols="30" id="marker_set" name="marker_set" required>  
            </div>
         
     </form>

<br> 
<br> 
    <div  class="container  col-10"> 
 <h3>Type of Run  SM or MM  </h3> 
<hr> 
    <hr class="ui teal label">  
        <small> <strong>C</strong>reate new virtual job space that handle all manipulation  you'll do 
                it act like a sanbox  that save your run  and all output that came from the run  
                is stored into you virtual job space 
        </small>
</div> 
    </div> 
  </div>


          <!-- EMPERICAL  ||  THEORICAL --> 
    <div  class= "container col-8"> 
        <div class="carousel-item" >  
          <h3 class="ui horizontal divider header">ANALYSIS</h3>
          <div class="ui  teal segment ">
            <div class="ui two column very relaxed stackable grid" >
              <div class="column ">
                <h4 style="margin-top:-11px; margin-left: 67px;color: orange;">EMPIRICAL</h4>
                <div class="ui form">
                  <div class="field">
                    <label for="nbsim"><span>Number of simulations</span></label>
                    <div class="ui left icon input">
                      <input id="nbsim" placeholder="10">
                      <i class="redo icon"></i>
                    </div>
                  </div>
                  <div class="field">
                    <label for="nbcores">Number of Cores</label>
                    <select id="nbcores" name="nbcores" class="ui search dropdown">
                      <option value = "" disabled selected > Cpus core available</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="middle aligned column"> 
    <br> 
                <div class="ui medium teal button t-run">   
                  <i class="magic icon"></i>
                  THEORICAL  
                <!--div class="ui medium  button active  t-run"  style="background-color: #59698D;color: white;">THEORICAL</div--> 
                </div>
              </div>
            </div> 

            <div class="ui vertical divider">
              Or
            </div> 
  

    </div>

    <br>
         <div  class="container  col-10"> 
 <h3>Theorical or Empirical </h3>
    <hr>  
        <small> Create new virtual job space that handle all manipulation  you'll do 
                it act like a sanbox  that save your run  and all output that came from the run  
                is stored into you virtual job space 
        </small>
</div>  
        </div> 
   
    </div>  







    <div  class="container col-8"> 
    <div  class="carousel-item"> 
    
        <h3 class="ui horizontal divider header">Run Analysis</h3>  
 
<form class="ui form"> 
          <div class="field">
            <select id="phenotype" name="phenotype" class="ui search dropdown">
              <option value="" disabled selected>Number of phenotype</option>
            </select>
          </div>
 <div class="field"> 
            <button id="run_analysis" class="ui right floated button">Run Analysis &nbsp;<i class="fas fa-dna"></i></button>
          </div>
     
     
    <br>
    <br>
    <br>
    <br>
         <div  class="container  col-10"> 
 <h3>Analysis Runtime</h3>
    <hr>  
        <small> Create new virtual job space that handle all manipulation  you'll do 
                it act like a sanbox  that save your run  and all output that came from the run  
                is stored into you virtual job space 
        </small>
</div>  


    </div> 
    </form> 

    </div>

 

</div>







<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">  
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>


</div>














    </div>

    <div class="col-6">

        <div class="div_terminal" style="position: fixed; margin: 8px; margin-top: 0;" >
          <div class="ui inverted menu"> 
            <div class="item">
              <div class= "ui button" id="clear">
                <i class="fas fa-broom" id="clear" title ="clear console"></i>
              </div>
            </div>
            <div class="item">
              <div class="ui button" id ="infosys">  
                <i class="fas fa-info" id="infosys" title="show system info"></i>
              </div> 
            </div>
            <div class="item"  title="use the terminal  interative mode">
                <div class="ui icon button" style="background-color:#F1F7FD; color:#59698D;" id="detach_term"> 
              <i class="fas fa-terminal" title="detach terminal"></i>
                m-tdterm  
                </div> 
            </div> 
            <div class="item"  title = "Download  Assets ">
                <div class="ui icon button" style="background-color:#f1f7fd; color:#59698D;" id="download_assets"> 
                    <i class="fa-solid  fa-circle-arrow-down"></i>
                Download  Assets  
                </div> 
            </div> 
            <div class="item" title ="Abort  Running Execution  or you Can hit Ctlr+C  to abort ">
                <div class="ui icon button" style="background-color:#f56f42; color:#59698D;" id="abort_execution"> 
              <i class="fa-solid  fa-ban" title="abort execution"></i>
                Abort execution  
                </div> 
        
            </div>
            <div class="right menu">
              <div class="item"  id="zoom_out">
                  <i class="fa-solid fa-magnifying-glass-minus"></i>
              </div>
            </div>

            <div class="right menu">
              <div class="item" id="zoom_in">
                  <i class="fa-solid fa-magnifying-glass-plus"></i>
              </div>
            </div>

                      </div>
          <div>
            <!--readonly autocomplete ="off" speelcheck="false" autocapitalize="off"-->
            <textarea name="" id="term" class="terminal"  style="overflow:auto ; height:60%"></textarea>
          </div>
        </div> 
      </div>

    </div>
  
    </div>  <!--row--> 





</div>    <!--container--> 




<%-  include("./footer.ejs")%> 
<%-  include("./scripts/index_jscript.ejs")%>  
