<%- include("./header.ejs")%> 

<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-6">

<div id="carouselExampleIndicators" style="top:60px" class="carousel carousel-dark slide" data-bs-ride="carousel"> <!-- slide -> fade--> 
  <div class="carousel-indicators">
    <br> 
  </div>
  <div class="carousel-inner">
    <div class="carousel-item  active" data-tooltip="Add users to your feed" data-inverted="">  <!--style="background-color:gray"-->

  
          <h3 class="ui horizontal divider header">Job Title</h3>
       <div class="container col-8" >   
        <div class="d-block w-100" >  
              <form action="" class="jobTitle_div" id="form1" >
            <input type="text" class="jobTitle_field" placeholder="Specify Your Job Title" name="job_title" id="job_title" required />
            <label for="job_title" class="jobTitle_label">Job Title</label>
            <input type="submit"  id="start_job" class="myBtn myBtn-mtd-color" value="Start">

        </form> 
    <div  class="container  col-10"> 
 <h5>Start Your Job Title</h5>
        <p>Some representative placeholder content for the third slide.</p>
</div> 

        </div>
 
       </div>
 
    </div>
    
    <div  class="container col-8">  
    <div class="carousel-item "> 

          <h3 class="ui horizontal divider header">Upload Sheets</h3>
 <% if  ( socket )  {%> 
            <form method="post" action="" enctype="multipart/form-data" name="file_uploader" id="form_upload" class="ui form" style="padding:20px; padding-bottom: 0;">
              <div class="ui fluid action input">
                <input name="fupload" type="file" accept=".ped,.map,.phen" multiple style="padding: 20px;"> 
                <div class="ui button">
                  <button class="ui vertical animated button" type="submit" id ="files_uploader">
                    <div class="hidden content">Upload</div>
                    <div class="visible content">
                      <i class="upload icon"></i>
                    </div>
                  </button>
                </div>
              </div>
            </form>
          <%}%>     

    </div>
    </div>


    <div class="container col-8">  
    <div class="carousel-item ">
    

          <h3 class="ui horizontal divider header">Summary  Statistics </h3>
<form name="form" style="padding:20px;" class="ui form"> 
            <div class="ui toggle checkbox">
                <input type="checkbox" id="sync" name="sync">
                <label for="sync">Sync</label>
            </div>
            <div class="field">
              <label for="ped">Pedigree File</label>
              <select required id="ped" name="ped" class="ui fluid dropdown">
                  <option   value = ""  disabled selected>Select a ped file</option>
              </select>
            </div>
            <div class="field">
              <label for="map">Map file</label>
              <select required id="map" name="map" class="ui fluid dropdown">
                  <option value="" disabled selected>Select a map file</option>
              </select>
            </div>
            <div class="field">
              <label for="phen">Phenotype file</label>
              <select required id="phen" name="phen" class ="ui search dropdown">
                <option value = "" disabled selected > Select a phen file</option>
              </select>
            </div>
            <button type="submit" id ="run_summary" class="ui button">Launch Summary Statistics &nbsp;<i class="fas fa-chart-bar"></i></button>
          </form> 
    </div>

</div>

        
     
    <div  class = "container col-8"> 
    <div class="carousel-item">  

          <h3 class="ui horizontal divider header">Genotype Inference</h3>
<form action="" class="ui form">
            <div class="inline fields">
              <div class="field" style="align-content:center;">
                <!--h4>Retrieve missing genotypes : &nbsp;
                </h4-->
              </div>
              <div class="ui large buttons">
                <button class="ui blue button"  id="gi-yes">Genotype Inference</button>
                <div class="or"></div>
                <button class="ui button negative" id ="gi-no">Pass</button>
              </div>
            </div>
          </form>

    </div> 
  </div> 





<div  class = "container col-8"> 
    <div class="carousel-item">  
 
      <h3 class="ui horizontal divider header">Run Type</h3>
      <form action="" class="ui form"> 
            <div class="inline fields">
              <div class="field" style="align-content:center;">
                <!--h4>Retrieve missing genotypes : &nbsp;
                </h4-->
              </div>
              <div class="ui large buttons">
                <button class="ui blue button"  id="single_marker">Single Marker</button>
                <div class="or"></div>
                <button class="ui button negative" id ="multi_marker">Multi Marker</button>
              </div>
            </div>
          </form>

    </div> 
  </div>

    <div  class= "container col-8"> 
        <div class="carousel-item" >  
          <!-- Choosing an Empirical run or a Theorical run-->
          <h3 class="ui horizontal divider header">ANALYSIS</h3>
          <div class="ui placeholder segment" style="background-color: whitesmoke; border:none !important;">
            <div class="ui two column stackable center  aligned  grid" >
              <div class="column">
                <h4 style="margin-top:-11px; margin-left: 67px;color: orange;">EMPIRICAL RUN</h4>
                <div class="ui form">
                  <div class="field">
                    <label for="nbsim"><span>Number of simulations</span></label>
                    <div class="ui left icon input">
                      <input id="nbsim" placeholder="10">
                      <i class="redo icon"></i>
                    </div>
                  </div>
                  <div class="field">
                    <label for="nbcores">Number of Cores</label>
                    <select id="nbcores" name="nbcores" class="ui search dropdown">
                      <option value = "" disabled selected > Cpus core available</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="ui icon header">   
                  <h4 style="color: #59698D;">THEORICAL RUN</h4>
                  <i class="leaf icon"></i>
                  <div class="ui medium  button active  t-run"  style="background-color: #59698D;color: white;">GO !</div> 
                </div>
              </div>
            </div> 

            <div class="ui vertical divider">
              Or
            </div>
    </div>


        </div> 

    </div>  







    <div  class="container col-8"> 
    <div  class="carousel-item"> 
    
        <h3 class="ui horizontal divider header">Run Analysis</h3>  
 
<form name="form" style="padding:20px;" class="ui form"> 
          <div class="field">
            <select id="phenotype" name="phenotype" class="ui search dropdown">
              <option value="" disabled selected>Number of phenotype</option>
            </select>
          </div>
          <!--div class="ui form">
            <div class="inline fields">
              <label>Choose markers  :</label>
              <div class="field">
                <div class="ui radio checkbox">
                  <input id="single_marker" type="radio" name="mradiobutton" value="single_marker" checked="checked">
                  <label for="single_marker">Single-Marker</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input id="multi_marker" type="radio" name="mradiobutton" value="multi_marker">
                  <label for="multi_marker">Multi-Marker</label>
                </div>
              </div>
            </div>
          </div-->
          <!--markerset -->
          <!-- Hidden if single marker is chosen -->
          <div class="field">
            <label for="marker_set">Select markerset</label>
            <input  placeholder="Choose your markers. eg: 1, 3, 24" rows="1" cols="30" id="marker_set" name="marker_set" required>  
          </div>
          <div class="field"> 
            <button id="run_analysis" class="ui right floated button">Run Analysis &nbsp;<i class="fas fa-dna"></i></button>
          </div>
    </div>  

    </form> 


    </div> 

</div>







<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>


</div>














    </div>

    <div class="col-6">

        <div class="div_terminal" style="position: fixed; margin: 8px; margin-top: 0;" >
          <div class="ui menu"> 
            <div class="item">
              <div class= "ui button" id="clear">
                <i class="fas fa-broom" id="clear" title ="clear console"></i>
              </div>
            </div>
            <div class="item">
              <div class="ui button" id ="infosys">  
                <i class="fas fa-info" id="infosys" title="show system info"></i>
              </div> 
            </div>
            <div class="item"  title="use the terminal  interative mode">
                <div class="ui icon button" style="background-color:#F1F7FD; color:#59698D;" id="detach_term"> 
              <i class="fas fa-terminal" title="detach terminal"></i>
                m-tdterm  
                </div> 
            </div> 
            <div class="item"  title = "Download  Assets ">
                <div class="ui icon button" style="background-color:#f1f7fd; color:#59698D;" id="download_assets"> 
                    <i class="fa-solid  fa-circle-arrow-down"></i>
                Download  Assets  
                </div> 
            </div> 
            <div class="item" title ="Abort  Running Execution  or you Can hit Ctlr+C  to abort ">
                <div class="ui icon button" style="background-color:#f56f42; color:#59698D;" id="abort_execution"> 
              <i class="fa-solid  fa-ban" title="abort execution"></i>
                Abort execution  
                </div> 
        
            </div>
            <div class="right menu">
              <div class="item"  id="zoom_out">
                  <i class="fa-solid fa-magnifying-glass-minus"></i>
              </div>
            </div>

            <div class="right menu">
              <div class="item" id="zoom_in">
                  <i class="fa-solid fa-magnifying-glass-plus"></i>
              </div>
            </div>

                      </div>
          <div>
            <!--readonly autocomplete ="off" speelcheck="false" autocapitalize="off"-->
            <textarea name="" id="term" class="terminal"></textarea>
          </div>
        </div> 
      </div>

    </div>
  
    </div>  <!--row--> 





</div>    <!--container--> 




<%-  include("./footer.ejs")%> 
<%-  include("./scripts/index_jscript.ejs")%>  
