<%- include("./header.ejs")%> 

<div class="col-lg-1 col-md-1 col-xs-1">
          <div class="ui secondary animated button" id="disconnect" tabindex="0" style="margin-top: 40px;">
            <div class="visible content">Exit</div>
            <div class="hidden content">
              <i class="sign-out icon"></i>
            </div>
          </div>
        </div>
      </div> 
    </div>
<div class="container-fluid">
  <div class="row">
    <div class="ui  mini modal segment">
          <h5 class="ui teal ribbon floated   label">Genotype Inference</h5>  

 <small style="font-family:Maven Pro; font-size:11px;">Do you want to use the new pedfile ? </small> 
<br> 
<br> 
 <button id="gi-modal-no" class="mini red  inverted ui right floated button">
  No
</button>
<button id="gi-modal-yes" class="mini  teal inverted ui right floated  button">
  Yes 
</button>

    </div>


<div class="ui  mini modal   segment" >
<div class="ui action input">  
<input type="text" id="nbsim"  placeholder=" Number of simulation  e.g 10">
<select id="nbcores" name="nbcores" class="ui compact selection  dropdown">
                      <option value = "" disabled selected >  Number of Cores</option>
                    </select> 
</div>
<div> 
<br>

<b style="font-family:Maven Pro; font-size:11px;">Run Analysis Setting  </b> 
 <button id="cancel_analysis" class="mini red  inverted ui right floated button">
  Cancel 
</button>
<button id="proceed_analysis" class="mini  teal inverted ui right floated  button">
  Proceed
</button>
</div> 

    </div>


    <div class="col-md-6">

<div id="carouselExampleIndicators" style="top:60px" class="carousel-dark  carousel slide carousel-fade" data-bs-ride="carousel" data-bs-keyboard="true"> 
  <div class="carousel-indicators">
    <br> 
  </div>
  <div class="carousel-inner">
    <div class="carousel-item  active" >
  
          <h3 class="ui horizontal divider header">Job Title</h3> 
       <div class="container col-8" >   
        <div class="d-block w-100" >  
              <form action="" class="jobTitle_div" id="form1" data-tooltip="Set up new virtual job space" data-inverted=""  data-position="bottom right"> 
            <input type="text" class="jobTitle_field" placeholder="Specify Your Job Title" name="job_title" id="job_title" required />
            <label for="job_title" class="jobTitle_label">Job Title</label> 
            <input type="submit"  id="start_job" class="myBtn myBtn-mtd-color ui small basic teal fluid button " value="GO">
        </form>  
<br>
<br>
<br>
    <div  class="container  col-10"> 
<div class="inline field">   
 <h3>Job Space Setting </h3> </div> 
    <hr>  
        <small> <i class="rocket icon"> </i> 
 <strong>T</strong>his section allows you to create a virtual workspace in which the analysis will take place. 
    The uploaded files as well as the output files will be located in this virtual directory on the server. 
You can choose the name of this space in Job Title and submit to validate the creation of your space.



    </small>
</div> 

        </div>
 
       </div>
 
    </div>
    
    <div  class="container col-8">  
    <div class="carousel-item" data-bs-interval="1000"> 

          <h3 class="ui horizontal divider header">Upload Sheets</h3> 

 <% if  ( socket )  {%> 
            <form method="post" action="" enctype="multipart/form-data" name="file_uploader" id="form_upload" class="ui form" style="padding:20px; padding-bottom:0;">
              <div class="ui fluid action input">
                <input name="fupload" type="file" accept=".ped,.map,.phen" multiple style="padding: 20px;border-radius:50px" class="ui input focus"> 
                  <button class="ui brown inverted button" type="submit" id ="files_uploader"  style="border-radius:0px 50px 50px 0px">
                    <div class="hidden content">Upload</div>
                    <div class="visible content">
                      <i class="upload icon"></i>
                    </div>
                  </button>
              </div> 
    <small> *[ Select 3 files  or more  .ped .map .phen ] </small>
            </form>
          <%}%>     
<br> 
<br> 
    <div  class="container  col-12"> 
 <h3>Upload Sheets </h3>
    <hr>  
        <small> <i class="upload icon"></i> <strong>I</strong>t is in this section that the user loads the files to be analyzed.

The button opens a window with a view of your local files. You can select the files whose formats must meet the following specifications:
INPUT FILE FORMAT

    * No headers in any of the 3 input files.
    * The columns of all input files are separated by tabs.

    (i) PED file: starts with 6 columns followed by genotype columns, in the following order
        - Family ID
        - Individual ID
        - Father ID
        - mother's ID
        - sex
        - condition (this column will not be taken into account, but its presence is required)

        - genotype columns (...)

    ! !! TIP: The 'ped' file can contain multiple markers, but we advise at the runtime stage to include a limited number of markers, e.g. 3 to 5, 

        </small>
</div> 
    </div>
    </div>

    <div class="container col-8">  
    <div class="carousel-item ">
    

          <h3 class="ui horizontal divider header">Summary  Statistics </h3>
<form name="form" style="padding:20px;" class="ui form"> 
            <div class="ui toggle checkbox">
                <input type="checkbox" id="sync" name="sync">
                <label for="sync"><b>Sync</b></label>
            </div>
            <div class="field">
              <label for="ped">Pedigree File</label>
              <select required id="ped" name="ped" class="ui fluid dropdown">
                  <option   value = ""  disabled selected>Select a ped file</option>
              </select>
            </div>
            <div class="field">
              <label for="map">Map file</label>
              <select required id="map" name="map" class="ui fluid dropdown">
                  <option value="" disabled selected>Select a map file</option>
              </select>
            </div>
            <div class="field">
              <label for="phen">Phenotype file</label>
              <select required id="phen" name="phen" class ="ui search dropdown">
                <option value = "" disabled selected > Select a phen file</option>
              </select>
            </div>
            <button type="submit" id ="run_summary" class="ui right  basic teal floated button">Launch Summary Statistics &nbsp;<i class="fas fa-chart-bar"></i></button>
          </form> 
<br> 
    <div  class="container  col-10"> 
 <h3>Summary Stats</h3>
    <hr>  
        <small> 
<strong> T</strong>hen you select from the files you have just uploaded the one you need, respectively, for the Pedigree File, Map file and Phenotype File fields. These three files must have the same file name with the same difference in format. 
   <div class="ui toggle checkbox">
                <input type="checkbox">
                <label for="sync">Sync</label>
            </div> 
This is the only way to make sure that when you select an A file for a dedicated field, the other fields are pre-filled with the files corresponding to the same base name 

        </small>
</div> 
    </div>

</div>

        
     
    <div  class = "container col-8"> 
    <div class="carousel-item">  

          <h3 class="ui horizontal divider header">Genotype Inference</h3>
<form  class="ui form">
            <div class="inline fields">
              <div class="field" style="align-content:center;">
                <!--h4>Retrieve missing genotypes : &nbsp;
                </h4-->
              </div>
              <div class="ui large buttons">
                <button class="ui blue inverted  button"  id="gi-yes">Genotype Inference</button>
                <div class="or"></div>
                <button class="ui button   white inverted"  style="color:#000000" id ="gi-no">Skip Genotype Inference</button>
              </div>
            </div>
          </form> 


<br> 
<br> 
<br> 
    <div  class="container  col-10"> 
 <h3>Genotype Inference</h3>
    <hr>  
        <small> 
Depending on your number of missing data, you can choose to use the genotype inference option or not. 

This is where the options to run the mtdt script are selected.


        </small>
</div> 
    </div> 
  </div> 




<!---  SINGLE MARKER AND MULTIMAKER  SETTINGS --->  
<div  class = "container col-8"> 
    <div class="carousel-item">  
 
      <h3 class="ui horizontal divider header">Run Type</h3>
      <form class="ui form"> 
            <div class="inline fields">
              <div class="field" style="align-content:center;">
              </div>
              <div class="ui large buttons">
                <button class="ui blue inverted button"  id="single_marker">Single Marker</button>
                <div class="or"></div>
                <button  class="ui button inverted  orange button" id ="multi_marker">Multi Marker</button>
              </div> 
            </div>

 
            <div class="field">  
<div class="ui action input">
  <input type="text" id="marker_set" placeholder="Choose markers. ex 1,2,3,...,">
  <button class="ui primary button" id="validate_markerset" >Validate Selected Markers</button> 
</div>
  <small> *Choose Markers. ex : 1,2,3...</small>
            </div>
         
     </form>

<br> 
<br> 
    <div  class="container  col-10"> 
 <h3>Type of Run  SM or MM  </h3> 
<hr> 
    <hr class="ui teal label">  
        <small> 
<b>Markers Setting </b> list indicating positions of the set of markers to analyze jointly (separated by "," without SPACE); position from the 'ped' file without counting the 6 first columns. 
If <b> MULTI MARKER </b> option is not selected, the software will run like <b>SINGLE MARKER</b> GWAS, screen all markers in the 'ped' file one-by-one in family-based association. A limited number of top SNPs from a GWAS screening can be subsequently used for multilocus analysis.


        </small>
</div> 
    </div> 
  </div>


          <!-- EMPERICAL  ||  THEORICAL --> 
    <div  class= "container col-8"> 
        <div class="carousel-item" >  
          <h3 class="ui horizontal divider header">ANALYSIS</h3>
          <div class="ui  segment basic  ">
            <div class="ui two column very relaxed stackable grid" >
              <div class="column ">
<div class="aligned column"> 
    <br> 
                <div class="ui medium right floated inverted orange  button  e-run">   
                  <i class=" braille icon"></i>
                  EMPERICAL  
                </div>
              </div>

                

              </div>
              <div class="aligned column"> 
    <br> 
                <div class="ui medium inverted blue  button t-run">   
                  <i class="magic icon"></i>
                  THEORITICAL  
                </div>
              </div>
            </div> 

            <div class="ui vertical divider">
              Or
            </div> 
  

    </div>

         <div  class="container  col-10"> 
 <h3>Theoritical or Empirical </h3>
    <hr>  
        <small> <b>Number of simulations </b> for the calculation of the empirical P-values. 
The default value is 0 and corresponds to the case where only asymptotic P-values are provided. If the sample size is limited or if there is a linkage disequilibrium (LD) between the analyzed markers, the asymptotic theory is no longer valid and the empirical P-values have to be calculated using simulations.
<b >Number of cores</b> to be used for execution, if the user wants to speed up the execution by using multiple cores, as the program can run in parallel at the simulation stage if it is included to obtain empirical P-values. Thus, this option is only useful if the -nbsim option is used.
<b>Note</b>: The distinction between empirical run and theoretical run is made at this level. By clicking on 
 <div class="ui mini inverted blue  button" >   
                  <i class="magic icon"></i>
                  THEORITICAL  
</div>
on the parameters for an empirical run (number of simulations and number of cores) are disabled. To deactivate it, click on it again.



        </small>
</div>  
        </div> 
   
    </div>  







    <div  class="container col-8"> 
    <div  class="carousel-item"> 
    
        <h3 class="ui horizontal divider header">Run Analysis</h3>  
            <small  style="font-family:Maven Pro;font-size:16px;" class="ui" >  Choose Your Number of Phenotype</small> 
<div class="ui  action input right floated "> 
            <select id="phenotype" name="phenotype" class="ui compact  selection dropdown">
              <option value="" disabled selected></option>
            </select>
            <div id="run_analysis" class="ui right  teal  basic  floated button">Run Analysis &nbsp;<i class="fas fa-dna"></i></div>
    

</div>  
    <br>
    <br>
    <br>
    <br>
         <div  class="container  col-10"> 
 <h3>Analysis Runtime</h3>
    <hr>  
        <small> 

<b> T</b>he position of the phenotype (only one) to analyze from the 'phenotype' file without counting the 2 first columns.

        </small>
</div>  


    </div> 
    </form> 

    </div>

 

</div>







<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">  
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>


</div>














    </div>

    <div class="col-6">

        <div class="div_terminal" style="position: fixed; margin: 8px; margin-top: 0;" >
          <div class="ui inverted menu container fluid"> 
            <div class="item">
              <div class= "ui basic standar  inverted button" id="clear">
                <i class="fas fa-broom" id="clear" title ="clear console"></i>
              </div>
            </div>
            <div class="item">
              <div class="ui basic blue inverted button" id ="infosys">  
                <i class="fas fa-info" id="infosys" title="show system info"></i>
              </div> 
            </div>
            <div class="item"  title="use the terminal  interative mode">
                <div class="ui basic teal inverted button" id="detach_term"> 
              <i class="fas fa-terminal" title="detach terminal"></i>
                m-tdterm  
                </div> 
            </div> 
            <div class="item"  title = "Download  Assets ">
                <div class="ui  basic orange inverted button"  id="download_assets"> 
                    <i class="fa-solid  fa-circle-arrow-down"></i>
                Download  Assets  
                </div> 
            </div> 
            <div class="item" title ="Abort  Running Execution  or you Can hit Ctlr+C  to abort ">
                <div class="ui red basic inverted button" style="background-color:#f56f42; color:#59698D;" id="abort_execution"> 
              <i class="fa-solid  fa-ban" title="abort execution"></i>
                Abort execution  
                </div> 
        
            </div>
            <div class="right menu">
              <div class="item"  id="zoom_out">
                  <i class="fa-solid fa-magnifying-glass-minus"></i>
              </div>
            </div>

            <div class="right menu">
              <div class="item" id="zoom_in">
                  <i class="fa-solid fa-magnifying-glass-plus"></i>
              </div>
            </div>
  <div class="right menu">
              <div class="item ui">
                  <span class="ui dimmer  processing">
    
               <div class="ui mini loader">...</div> 
                </span>
              </div>
            </div>
                      </div>
          <div>
            <!--readonly autocomplete ="off" speelcheck="false" autocapitalize="off"-->
            <textarea name="" id="term" class="terminal"  style="overflow:auto ; height:60%"></textarea>
          </div>
        </div> 
      </div>
    </div>
  
    </div>  <!--row--> 





</div>    <!--container--> 




<%-  include("./footer.ejs")%> 
<%-  include("./scripts/index_jscript.ejs")%>  
