<%- include("./header.ejs")%> 


<div class="ui  container fluid">  


<div class="ui three column grid">
  <div class="column">
    <div class="ui raised segment green">
    <h3 class="ui horizontal divider  top attached   inverted header">Get Ready </h3> 
<br> 
      <a class="ui red tag label"  href="/index">1 :Landing Page </a>
      <div class="ui segment red ">
<a href="/images/appscreenshot/Selection_015.png">
  <img  src="/images/appscreenshot/Selection_015.png"  class="ui  small rouded image">  
</a>
  <p> <b>B</b>asic  Landing  Page that show some information  about m-TDT ... </p> 
</div> 
      <a class="ui blue tag label" href="/main"  alt="0" >2 Job Space Creation </a>
 <div class="ui segment blue"> 
<a href="/images/appscreenshot/Selection_016.png">
  <img  src="/images/appscreenshot/Selection_016.png"  class="ui  small rouded image">  
</a> 

   <small> <i class="rocket icon"> </i> 
 <strong>C</strong>reate your virtual workspace in which the analysis will take place. 
The uploaded files as well as the output files will be located in this virtual directory on the server.



    </small>
</div> 
<a class="ui olive tag label"  href="/main" alt="1" >3  Send your files</a>  

 <div class="ui segment olive">   
<a href="/images/appscreenshot/Selection_017.png">
  <img  src="/images/appscreenshot/Selection_017.png"  class="ui  small rouded image"> 
</a> 

<small> <i class="upload icon"></i> <strong>U</strong>pload ped, map, phen files. Make sure your files meets the following requirements:
 
<h4> INPUT FILES FORMAT  </h4>
<ul class="ui list" style="font-size:14px">  
        <li><u> No header in any of the 3 input files </u></li> 
        <li><u> Columns in all input files are tab separated</u></li> 
        <li><u> Three files must have the same basename </u></li> 
    </ul> 



        </small>


</div> 


    </div>
  </div>
  <div class="column">

    <div class="ui segment yellow">
          <h3 class="ui horizontal  top  attached inverted  divider header">Run Settings </h3> 
<br> 
      <a class="ui orange right ribbon label"  href="/main" , alt="2">4 Summary Statistics </a>
 <div class="ui segment orange">
<a href="/images/appscreenshot/Selection_018.png">
  <img  src="/images/appscreenshot/Selection_018.png"  class="ui  small rouded image"> 
</a>

        <small> 
<strong> S</strong>elect the files to analyze.

   <br>Enable <div class="ui toggle checkbox">
                <input type="checkbox">
                <label for="sync">Sync</label>
            </div> button, select a file and files with the same basename will automatically complete in the dedicated fields.<br>
Launch Summary Statistics : to view basic information about your data.


        </small>

</div> 

      <a class="ui black right ribbon label" href="/main" alt="3">5 Genotype Inference </a>
 <div class="ui segment black ">
<a href="images/appscreenshot/Selection_019.png"> 
  <img  src="/images/appscreenshot/Selection_019.png"  class="ui  small rouded image">  
</a>  


      <small>
M-TDT method is sensitive to missing data. Reduce missingness of your data with genotype inference option which uses mendelian laws to infer genotypes.  


        </small>

</div> 
<a class="ui  gray  right ribbon label" href="/main"  alt="4" >6 Run Type</a>  
 <div class="ui segment gray">
<a href="/images/appscreenshot/Selection_020.png"> 
  <img  src="/images/appscreenshot/Selection_020.png"  class="ui  small rouded image">  
</a> 
  
        <small>

The 'ped' file can contain several markers, but we advise at the running step to include a limited number of markers, e.g. 3 to 5 in validate selected markers section, to avoid both:
 <ul class="ui list" style="font-size:14px">  
        <li>facing a huge number of alternative hypotheses to test and </li> 
        <li>having sparse count tables for transmitted versus non transmitted alleles combinations across markers.</li> 
    </ul>As discussed in the method paper, MTDT has not been optimized for screen multiple markers effect within a large number of markers, but within a set predefined subgroup of markers of interest, e.g. markers with intermediate marginal effect.
<p class="ui orange label"> Based on the type you selected and your data, you will be advised whether to choose an empirical or theoretical run (next step) </p> 


        </small>
</div> 

  </div>  
</div> 



  <div class="column">

    <div class="ui segment pink ">
          <h3 class="ui horizontal top  right attached  red  inverted   divider header">Finalize</h3> 
<br> 
 <div class="ui segment brown ">
      <a class="ui brown  right  top attached   label" href="/main"  alt="5" >7 Analysis </a> <br>  
 <a href="/images/appscreenshot/Selection_021.png">
  <img  src="/images/appscreenshot/Selection_021.png"  class="ui  small rouded image"> 
</a>  
      <small> 

The distinction between empirical run and theoretical run is made at this level.<br>
<b> For Empirical test</b> <br><u>Select number of simulations: </u><br>
By default the value of the number of simulations for the calculation of the empirical P-values is 0 and corresponds to the case where only asymptotic P-values are provided. If the sample size is limited or if there is a linkage disequilibrium (LD) between the analyzed markers, the asymptotic theory is no longer valid and the empirical P-values have to be calculated using simulations

<br> <u>Select the number of cores:</u></br>   Only available for simulations. Used to speed up the execution by using multiple cores, as the program can run in parallel at the simulation stage if it is included to obtain empirical P-values.


        </small>

</div> 

      <p></p>
 <div class="ui segment purple"> 
      <a class="ui purple  top right  attached  label"  href="/main"  alt="6"  >8 Run Analysis </a> 
<br> 
<a href ="/images/appscreenshot/Selection_022.png"> 
  <img  src="/images/appscreenshot/Selection_022.png"  class="ui  small rouded image"> 
</a>  


    <small> 

<b>C</b>hoose your phenotype corresponding to the phenotype column you want to use.

        </small>


</div> 

      <p></p>
  <!--a class="ui teal right ribbon label">9</a>
 <div class="ui segment">
  <img  src="/images/appscreenshot/Selection_023.png"  class="ui  small rouded image">  
  <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p> 
</div> 

    </div>
  </div-->


</div>



</div> <!--end Grid --> 

 

<%- include("./footer.ejs")%>  

<%-  include("./scripts/tuto_jscript.ejs")%>  
</html>  
